# Copy Manajaro i3 config
start-pulseaudio-x11 &
pa-applet &

/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
nitrogen --restore; sleep 1; compton -b & 
nm-applet &
xfce4-power-manager &
xautolock -time 10 -locker blurlock &
ff-theme-util &
fix_xcursor &